{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="     alert alert-error" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>
    <div class="col-md-6 mx-auto">

       

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.firsname) }}
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-primary">{{"registerTemplate.button" |trans}}</button>

        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
