<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href={{ path('home') }}>RecetteVie</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
           <li class="nav-item ">
             <a class="nav-link {{ app.current_route  == 'home' ? 'active' : '' }}" href={{ path('home') }}>Accueil</a>
           </li>
           <li class="nav-item ">
             <a class="nav-link {{ app.current_route == 'app_recipe_show' or app.current_route == 'app_recipe_index' ? 'active' : '' }}" href={{ path('app_recipe_index') }}>Liste Recettes</a>
           </li>
           <li class="nav-item ">
             <a class="nav-link {{ app.current_route == 'app_recipe_create' ? 'active' : '' }}" href={{ path('app_recipe_create') }}>Ajouter une Recette</a>
           </li>
        </ul>
        </div>
    </div>      
</nav>
