<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
           <a class="navbar-brand" href={{ path('home') }}>
          <img src= "https://www.cuisine-therapie.com/wp-content/uploads/2020/04/cuisine-therapie-logo-couleur-sans-baseline.png" width="130" height="60">
        </a>
        <a class="navbar-brand" href={{ path('home') }}>Acceuil</a>
           <li class="nav-item ">
             <a class="nav-link {{ app.current_route == 'app_recipe_show' or app.current_route == 'app_recipe_index' ? 'active' : '' }}" href={{ path('app_recipe_index') }}>{{'navBar.recipes' |trans}}</a>
           </li>
           <li class="nav-item ">
             <a class="nav-link {{ app.current_route == 'app_recipe_create' ? 'active' : '' }}" href={{ path('app_recipe_create') }}>{{'navBar.addRecipe' |trans}}</a>
           </li>

           {% if app.user %}
           <li class="nav-item ">
             <a class="nav-link {{ app.current_route == 'app_recipe_create' ? 'active' : '' }}" href={{ path('app_recipe_create') }}>Add Recipe</a>
           </li>
           <li class="nav-item ">
             <a class="nav-link {{ app.current_route == 'home' ? 'active' : '' }}" href={{ path('home')}}>{{'navBar.account' |trans}}</a>
           </li>
           <li class="nav-item ">
             <a class="nav-link " href={{ path('app_logout') }}>Logout</a>
           </li>
           {% else %}
           <li class="nav-item ">
             <a class="nav-link {{ app.current_route == 'app_register' ? 'active' : '' }}" href={{ path('app_register')}}>Sign Up</a>
           </li>
           <li class="nav-item ">
             <a class="nav-link {{ app.current_route == 'app_login' ? 'active' : '' }}" href= {{ path('app_login') }}>Login</a>
           </li>
           {% endif %}
        </ul>
        </div>
    </div>      
</nav>
