{% extends 'base.html.twig' %}

{% block title %}#{{ recipe.id }} {{recipe.slug}}{% endblock %}
{% block body %}
<h1>{{ recipe.title |title }}</h1>

{# {{ form(monForm)}} #}
<div class = "row">
        <div class= "col-md-6 mx-auto">
            <h1 align="center">Créer une nouvelle Recette</h1>          
            {{form(monForm)}}
        </div>
    </div>



{#---------------------------- versione display flex---------------- #}


{# {{ form_start(monForm) }}
    <div class = "d-flex">
        {{ form_row(monForm.Title) }}
        {{ form_row(monForm.duration) }}
    </div>
{{ form_end(monForm) }} #}

{% endblock %}