{% extends 'base.html.twig' %}


{# {% block title %}Liste des recette{% endblock %} #}




{% block title "Liste de recettes" %} 
{% block body %}
    <h1 align="center">Bienvenu dans la liste des Recettes ({{ recipes|length }})</h1>
    <div class = "container text-center">
        <div class = "row">
            {% for recipe in recipes %}
                <div class="card max-w-sm col-4 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 my-8 mr-4" data-type="post">
                    <h2><a href={{ path('app_recipe_show', {id : recipe.id, slug : recipe.slug})}}>{{ recipe.title |u.truncate(20,"...",true)}} </a></h2>
                    <div class = "imgList">
                    <img class="imgFoto" src = {{recipe.imageName}} width="250" height="370" >
                    </div> 
                    <p>Submitted {{ recipe.createdAt |ago(locale="fr") }}</p> 
                </div>        
            {% else %}
                <p>Pas encore de recette</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}